aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
chardet==3.0.4
idna==2.9
multidict==4.7.6
numpy==1.19.0
pandas==1.0.5
python-dateutil==2.8.1
pytz==2020.1
Shapely==1.7.0
six==1.15.0
tqdm==4.46.1
yarl==1.4.2